 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

.header-top {
    /* background: #D8D9DE; */
    background: white;
    padding-bottom: 80px;
}
.banner-image img {
    max-width: 443px;
}
h1.banner-title {
    font-size: 35px;
    font-weight: 900;
    margin-top: 23px;
    color: #0B0B22;
    line-height: 160%;
    padding: 2rem 20%;
}
.animation-container{
  width: 20.4473px;
  height: 10.7617px;
  z-index: 302;
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 1;
  animation-name: animation_3_1;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  margin: 0 auto;
  padding-top: 20px;
}
.image-icon-wrapper{
  webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  pointer-events: all;
  width: 30px;
  height: 15px;
}
.image-icon-wrapper img {
  display: block;
  width: 100%;

}
.bg-blue ,.darkblue-blue ,.purple-bg ,.black-bg ,.final-bg, .white-bg {
  /*  padding:200px 0; */
}

.bg-blue {
  background:#0B0B22;
  color:#fff;

}
.darkblue-blue{
  background:#3B3B53;
}

.white-bg {
  background: white;
}

.purple-bg{
  background:#C787A2;
}
.black-bg{
  background: #191A1D;

}
.final-bg {
  background: #0B0B22;

}
h2.section-title {
    font-size: 41px;
    font-weight: 900;
    margin-bottom: 34px;
    color: #e6e6de;
    letter-spacing: -2px;
}

h4.title {
    font-size: 14px;
    font-weight: 900;
}

section.blue-bg-section p {
    font-weight: 300;
    color: rgba(223, 216, 206, 0.8);
}

section.blue-bg-section  .col-md-4 {
    padding-right: 51px;
}
.image-width-text h2 {
    font-size: 40px;
    color: rgba(253, 253, 253, 0.81);
    font-weight: 900;
}

.image-width-text p {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    font-weight: 300;
}

.image-width-text ul {
    list-style: none;
    padding-left: 0;
    border-left: 1px solid rgba(253, 253, 253, 0.3);
    padding: 40px 0 40px 40px;
    color: rgba(253, 253, 253, 0.9);
    font-size: 19px;
    font-weight: 300;
}
.text-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.logo img {
    position: fixed;
}

.banner-section {
    padding-top: 50px;
}
.svg-scale-wrapper {
    font-size: 14vw;
    color: whitesmoke;
    font-weight: 900;
    line-height: 14vw;
}


section.final-bg-section h5.title {
    font-size: 38px;
    font-weight: 900;
}

.button-wrapper .btn {
    padding: 20px 65px;
    border-radius: 5px;
    margin-top: 20px;
    color:#0B0B22;
    background-color: whitesmoke !important;
}
@keyframes animation_3_1 {
  0% {transform: matrix(1,0,0,1,0,0); opacity: 1; animation-timing-function: ease-in-out}
  100% {transform: matrix(1,0,0,1,0,10.76171875); opacity: 1; }
}

@media(max-width:1300px) and (min-width:769px){
.team-content img {
    max-width: 140px;
}
  .banner-image img {
    max-width: 389px;
    margin-top: 59px;
}
.banner-section {
    padding-bottom: 40px;
}
.animation-container{
	padding-top:42px;
}
.image-icon-wrapper {
    width: 25px;
}
}
@media(max-width:1025px) and (min-width:320px){
.banner-section {
  padding-top: 0;
  position: absolute;
  width: 100%;
  top: 43%;
  transform: translateY(-50%);
  left: 0;
}
}

@media(min-width:768px){

  .bg-blue>div, .darkblue-blue>div ,.purple-bg>div ,.black-bg>div ,.final-bg>div, .white-bg>div {
       position: relative;
        top: 50%;
        transform: translateY(-50%);
  }
  section.blue-bg-section.bg-blue .container {
     top: 0;
    transform: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team-content,.user-growth {
    position: absolute;
    pointer-events: none!important;
    transition: all 1s ease-in-out;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team-content, .user-growth.hide-text-by-animate {
    opacity: 0;
    transform: scale(0.9);
}
 .team-content.display-text-by-animate{
      opacity: 1;
      transform: scale(1);
 /*  transition: opacity .9s ease-in-out;
  -moz-transition: opacity .9s ease-in-out;
  -webkit-transition: opacity .9s ease-in-out; */
 }
}

@media(max-width:767px){
  section.header-top>div {
    height: 100%;
}
    .banner-image img {
      max-width: 400px;
      width: 100%;
}
  .bg-blue ,.darkblue-blue ,.purple-bg ,.black-bg ,.final-bg {
   padding:100px 0; 
}
.image-icon-wrapper {
    width: 25px;
}

section.blue-bg-section img {
    width: 100px;
}
/*
.scroll-container section{
  height:auto !important;
  }
  */
  body{
    overflow:scroll;
  }
.scroll-container {
    transform: none !important;
}
h2.section-title {
    font-size: 24px;
    letter-spacing: 0;
}

section.blue-bg-section.bg-blue.top-scroll-section {
    height: auto;
}

h4.title {
    font-size: 16px;
}
section.blue-bg-section p {
    font-weight: 400;
    color: #fff;
}
.team-content {
    margin-top: 50px;
}
.team-content .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
}
.image-width-text img {
    /* padding: 0 50px; */
}
.image-width-text ul {
    border-left: 0;
    border-top: 1px solid rgba(253, 253, 253, 0.3);
    padding: 0;
    padding-top: 15px;
}
.image-width-text h2 {
    margin-top: 20px;
    color: #fff;
    font-size: 35px;
}

.text-content {
    order: 2;
}

.final-bg .text-center {
  text-align: left !important;
}
.svg-scale-wrapper {
    font-size: 60px;
    line-height: normal;
    margin-bottom: 43px;
}
.animation-container {
    position: relative;
    top: 43px;
}

.container,.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}
.logo img {
  position: relative;
}
.banner-section {
    padding-top: 11px;
}
h1.banner-title {
  font-size: 16px;
  padding: 0 30px;
  line-height: 30px;
  }
}
/*
.display-text-by-animate {
    opacity: 1;
     visibility:hidden;
        
}

.hide-text-by-animate {
 visibility:visible;
}
*/

.fabletic-content h2{
    color: #0B0B22 !important;
}

.fabletic-content p{
    color: #0B0B22 !important;
}

.force-repaint-content ul{
    color: #0B0B22 !important;
    border-left: 1px solid #0B0B22 !important;
}


.brandImg {
    width: 10rem;
}

.company-icons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.force-repaint-content {
    display: flex;
    flex-direction: column;
}

.quote-ignite-text {
    font-size: 1.2rem;
    width: 100%;
}

.quote-style {
    font-size: 1rem
}

.quote-ignite-author {
    color: grey;
    font-size: 1rem;
}

.quote-ignite-author-status {
    color: grey;
    font-size: 0.9rem;
}

.invisible {
    visibility: none;
}

.quotation-marks {
    
    width: 1.4rem;
}

.reverse {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.igniteImg {
    
}

@media (max-width: 767px) {
    .image-width-text img {
        margin-top: 10%;
    }

    .scroll-container section {
      
    }

    .force-repaint-content {
        margin-bottom: 5%;
    }

    .company_icons-desktop {
        display:none !important;
    }

    .company_icons-mobile {
        display: block !important;
    }

    .scroll-container section {
        height: auto;
    }
    .header-top {
        height: 115% !important;
    }
}

.company_icons-desktop {
    display: block;
}

.company_icons-mobile {
    display: none;
}

.main-content-ignite {
   margin: 0 5%;
   margin-bottom: 10%;
}

.force-repaint-content {
    margin-bottom: 2rem;
}

.company-icons_container-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logo {
    display: flex;
    align-items: center;
    font-size: 2.75rem;
    font-weight: 900;
}

@media (max-width: 676px) {
    .main-logo {
        font-size: 2rem;
    }
}

.col-md-4 .title {
    font-size: 18px;
}


